body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

header {
    background-color: #91157c;
    text-align: center;
    font-size: 5rem;
    padding: 70px;
    color: white;
    font-weight: bold;
}

nav {
    margin: 20px 50px;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: space-between;
}

main .kiri {
    max-width: 50%;
}

main h1{
    font-weight: bold;
    font-size: 2.2rem;
}

main p {
    margin: 20px 0;
    font-size: 1rem;
}

img {
    width: 100px;
}

footer {
    text-align: center;
    color: white;
    background-color: #91157c;
    font-size: 1rem;
}